/* Default */
* {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
body {font-size:12px; background:#e9eff3 url(../images/bg.gif) top left repeat-x; padding-bottom:60px;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
.clear {clear: both; display: block; visibility: hidden; line-height:0px;}
img {border:0;}

/* layout */
#wrap {width:994px; margin:0 auto; background-color:#FFF;}
#content {width:954px; padding:20px; margin-top:450px;}
#content #main_content {float:left; width:560px;}
#content #main_sidebar {float:right; width:372px;} 
#cont {width:954px; padding:20px; margin-top:290px;}
#cont #sub_sidebar {float:left; width:272px;}
#cont #main_cont {float:right; width:642px; padding:15px 10px 15px 30px;}
#wrap_ft {width:994px; margin:0 auto; background-color:#FFF;}
#footer {border-top:1px solid #eaeff3; margin-top:15px; padding:0 15px 15px 15px;}

/* header */
#header {padding:30px 10px 20px 10px;} 
#header #logo {float:left; width:400px;}
#header #logo h1 {background:url(../images/logo.gif) no-repeat top left; width:354px; height:20px;}
#header #logo h1 span {display:none;}
#header #logo h1:hover {cursor:pointer;}

/* header - box_search */
#box_search {float:right; width:500px; padding-top:5px; color:#575757;}
#box_search ul {list-style:none; float:left; width:320px;}
#box_search ul li {display:inline; padding-right:10px; margin-right:10px; background:url(../images/icon_arrow2.gif) right center no-repeat;}
#box_search ul li a {color:#575757;}
#box_search ul li a:hover {color:#1f59a7; text-decoration:none;}
#box_search .map {background:url(../images/s_map.gif) no-repeat top right; padding:3px 40px 3px 0px;}
#box_search #search {float:left; width:170px;}
#box_search .form_sch {font-family:Arial, Helvetica, sans-serif; background:url(../images/bg_search.gif) top left repeat-x; border:1px solid #e5e5e5; padding:3px; color:#c2c2c2; width:140px; font-size:11px;}
#box_search .bt_go {background:url(../images/bt_go.gif) top left no-repeat; width:22px; height:22px; padding-bottom:0px; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#fff; border:none;}

/* main_img */
#main_img {position:relative;}
#main_img #img {position:absolute; z-index:1; top:0; left:0;}
#main_img #nav {position:absolute; z-index:2;}
#main_img #nav{ margin:20px 0 0 20px; } 
#main_img #nav li {float:left; list-style:none; background:url(../images/navi_off.gif) repeat-x top left; margin-right:1px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
#main_img #nav li a {float:left;  padding:19px 52px 9px 14px; color:#000;}
#main_img #nav li a:hover{background:url(../images/navi_on.gif) repeat-x top left; text-decoration:none; color:#fff;}

/* resources */
#wrap_resources {border:1px solid #dddddd; background:url(../images/bg_resources.gif) repeat-x bottom left; margin-bottom:15px; height:290px; overflow:hidden;}

/* tab_headline */
#tab_headline {background:url(../images/bg_line.gif) bottom left repeat-x; height:34px;}
#tab_headline ul {float:left; width:480px; list-style:none; font-size:14px;}
#tab_headline ul li {float:left;}
#tab_headline ul li a {float:left; padding:9px; margin-left:3px; color:#003366;}
#tab_headline ul li.first {margin-left:10px;}
#tab_headline ul li a:hover {text-decoration:none;}
#tab_headline ul .current a {text-decoration:none; border-right:1px solid #dddddd; border-left:1px solid #dddddd; background-color:#ffffff; color:#22349d;}
#tab_headline #arrow {float:right; width:35px; text-align:right; margin-top:8px; margin-right:8px;}

/* headline */
#headline {padding:20px 0px 20px 13px;}
#headline ul {float:left; width:170px; margin-right:10px;}
#headline li {list-style:none;}
#headline .title {color:#22349d; margin:10px 0;}
#headline .title a{color:#22349d;}
#headline .text {color:#666666; font-size:11px;}
#headline .more {color:#1f59a7; font-size:10px; line-height:24px; font-weight:bold;}
#headline .more a {color:#1f59a7;}
.mg {margin:0 12px;}

/* picture */
#picture {margin-bottom:15px;}
#picture .img {margin-right:12px;}

/* box_today */
.box_today {margin-bottom:15px;}
.box_today .wrap_title {padding-bottom:10px; border-bottom:1px solid #dddddd;}
.box_today .news_con {padding:10px 0px; border-bottom:1px solid #dddddd;}
.box_today .news_con img {margin-right:10px;}
.box_today .news_con .date {font-size:10px; color:#777; margin-bottom:5px;}
.box_today .news_con a {color:#333;}
.box_today .see {background:url(../images/icon_arrow.gif) center left no-repeat; color:#1f59a7; padding:10px;}
.box_today .see a {color:#1f59a7;}

/* box_newsletter */
#box_newsletter {background:url(../images/bg_newsletter.gif) no-repeat bottom right; padding:10px; color:#666; font-size:10px;}
#box_newsletter .title {margin-bottom:10px;}
#box_newsletter .form_subscribe {border:1px solid #b9b9b9; margin-right:5px; color:#b9b9b9; font-size:14px; font-weight:bold; padding:5px; width:190px; margin-bottom:5px;}
#box_newsletter .bt_subscribe {background-color:#00a9d0; width:75px; height:29px; border:none; color:#FFF; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; margin-bottom:5px;}

/* footer */
#footer li {list-style:none; font-size:11px; text-transform:uppercase;}
#footer li a {color:#6b6b6b;}
#footer .title {color:#333333; font-weight:bold; margin-bottom:10px;}
#footer #footer_info {float:left; width:760px;}
#footer #footer_info ul {float:left; width:130px; padding-left:20px; padding-top:15px; background:url(../images/bg_footer.gif) no-repeat top right;}
#footer #tool {float:right; width:190px;  padding-top:15px;}
#footer #tool #icon_tool {clear:both; margin-top:15px;}
#footer #tool #icon_tool li {float:left; margin-right:5px; margin-bottom:10px;}
#footer #tool .made {color:#6b6b6b; font-size:10px; line-height:12px; margin-top:15px;}
#icon_tool .icon01 {background:url(../images/tool_facebook.gif) top left no-repeat; width:44px; height:47px;}
#icon_tool .icon02 {background:url(../images/tool_twitter.gif) top left no-repeat; width:40px; height:47px;}
#icon_tool .icon03 {background:url(../images/tool_rss.gif) top left no-repeat; width:40px; height:47px;}
#icon_tool .icon04 {background:url(../images/tool_email.gif) top left no-repeat; width:40px; height:47px;}
#icon_tool li span {display:none;}

/*sub_sidebar*/
#sub_sidebar h2 {font-size:20px; color:#142797; padding:15px 0 25px 0; border-bottom:1px solid #dddddd; }
#sub_sidebar {margin-bottom:20px;}
#sub_sidebar li {list-style:none; border-bottom:1px solid #dddddd; height:35px; line-height:35px; font-size:14px; }
#sub_sidebar li a {color:#333333; text-decoration:none;}
#sub_sidebar li a:hover {color:#3065ae;}
#sub_sidebar li.current a {color:#3065ae;}

/*explore*/
#explore {margin:30px 0;}

/* wrap_subbox */
#wrap_subbox { background:url(../images/bg_subnewsletter.gif) no-repeat top left; width:272px; height:140px; }
#wrap_subbox .title_submenu {text-align:right; margin-bottom:10px;}
#subbox { float:right; width:190px;}
.form_subscribe_sub {border:1px solid #b9b9b9; margin-right:5px; color:#666; padding:2px 0 3px 0; width:100px;}
.bt_subscribe_sub {background-color:#00a9d0; width:75px; height:27px; line-height:25px; border:none; color:#FFF; cursor:pointer;}

/* main_cont */
#cont #main_cont h3 {font-size:20px; color:#2e64ad; margin-bottom:35px;}
#cont #main_cont h4 {font-size:16px; margin-bottom:15px; font-weight:normal;}
#cont #main_cont .text {margin-bottom:40px;}